{% extends "base.html" %}

{% block content %}
<!-- Main Body -->
<section class="container-fluid">
    <div class="row">
        <!-- Personal Info -->
        <div class="col-md-4 bg-color-personal-info section-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading uppercase">
                        Personal Info
                    </h3>
                </div>
            </div>
            <!-- Name -->
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">Name:</p>
                </div>
                <div class="value">
                    <p>David Collins</p>
                </div>
            </div>
            <!-- Email Address -->
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">Email:</p>
                </div>
                <div class="value">
                    <a href="mailto:davemattcoll@gmail.com">Send Email</a>
                </div>
            </div>
            <!-- Phone Number -->
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">Phone:</p>
                </div>
                <div class="value">
                    <p>+44 (0)78 4248 5049</p>
                </div>
            </div>
            <!-- Address -->
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">Location:</p>
                </div>
                <div class="value">
                    <p>Cardiff, Wales, UK</p>
                </div>
            </div>
        </div>
        <!-- About Me Section -->
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase">About Me</h3>
                </div>
            </div>
            <div class="row">
                <!-- What do I do? Section -->
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">What do I do?</h4>
                            <p>I'm a skilled Full Stack Developer with a wealth of diverse life and technical experience that I bring to every project.</p>
                        </div>
                    </div>
                </div>
                <!-- How do I do it? Section -->
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">How do I do it?</h4>
                            <p>I follow form as well as function. I know that the aesthetics of effective design combined with application speed, security and reliability combine to create a great user experience.</p>
                        </div>
                    </div>
                </div>
                <!-- Why hire me? Section -->
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-bolt" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Why hire me?</h4>
                            <p>I work quickly and effectively in getting things built and working across the stack. I'm an excellent communicator who thrives in bright and enthusiastic teams and I'm also a self starter when working solo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}